/* Global CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn-primary{
    background-color: #469165;
    color: #FFFFFF;
    font-weight: 500;
    padding: 12.5px 16px;
    border: 1px solid #469165;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}
.btn-primary:hover{
    background-color: transparent;
    border: 1px solid #469165;
    font-size: 16px;
    color:#469165;
}

.btn-secondary{
    background-color: transparent;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 500;
    padding: 12.5px 16px;
}
.btn-secondary:hover{
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #469165;
}

/* Main CSS */

/* Header */
header{
    height: 92px;
}
nav{
    margin: 0 auto;
    width:85%;
    max-width: 1360px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo{ 
    padding: 20px 0;
}
nav .logo img{ 
    max-width:140px;
}
nav .menu{
    
}
nav .menu ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap:32px
}
nav .menu ul a{
    text-decoration: none;
    font-size: 16px;
    color:#000000;
    font-weight: 500;
}
nav .menu ul a:hover{
    color: #469165;
}
/* Banner */
#banner{
background-image: url('../images/banner.png');
background-repeat: no-repeat;
min-height: 674px;
background-size: cover;
}
.banner-container{
    margin: 0 auto;
    width:85%;
    max-width: 1360px;
    text-align: center;
    padding: 115.5px 120px 179.5px;
}
.banner-container .call-to-action{
    color: #469165;
    font-size: 16px;
    font-weight: normal;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 25px;
    padding: 3px 7px;
    cursor: pointer;
}
.banner-container .call-to-action:hover{
    color: #FFFFFF;
    background-color: #469165;
    border: 1px solid #469165;
    border-radius: 25px;
}
.banner-container h1{
font-size: 72px;
font-weight: bold;
text-align: center;
color: #FFFFFF;
opacity: 90%;
text-transform: capitalize;
}
.green-color{
    color: #30B868;  
}
.banner-container p{
font-size: 18px;
font-weight: normal;
line-height: 30px;
color: #FFFFFF;
width: 62%;
margin: 0 auto;
padding: 20px 0;
font-weight: normal;
}
.buttons{
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
}

/* Notes Sections */
#notes{
    background-color: #FBFBFB;
}
.notes-container{
    margin: 0 auto;
    padding: 115.5px 120px 20px;
    text-align: center;
}
.heading-sub-heading h2{
    color:#001931;
    font-size: 48px;
    font-weight: bold;
    text-transform: capitalize;
}
.heading-sub-heading p{
    color:#627382;
    font-size: 16px;
    font-weight: normal;
    margin:16px 0;
}
.card-info{
    display: flex;
    align-items: center;
    gap: 24px;
    padding:70px 131px;
    justify-content: space-between;
    width:85%;
    margin: 0 auto;
}
.single-card {
    background-color: #FFFFFF;
    padding: 70px 10px 20px;
    box-shadow: -10px 10px #3c3c3c03;
    border-radius: 10px;
    min-height: 300px;
}
.single-card:hover{
    box-shadow: -10px 10px #00000007;
   
}
.single-card h3{
    font-size: 24px;
    color: #001931;
    font-weight: 600;
    margin: 16px 0;
}
.single-card p{
    font-size: 16px;
    color: #627382;
    font-weight: 400;
}
.single-card i{
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 600;
    background-color: #F95555;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.single-card i:hover{
    background-color: #469165;
}
/* Solution Sections */
#solutions{

}
.solutions-container{
    margin: 0 auto;
    width:85%;
    padding: 115.5px 120px 179.5px;
    display: flex;
    align-items: center;
    gap: 60px;
}
.solutions-img{
   
}
.solutions-img img{

}
.solutions-content{
    
}
.solutions-content h3{
    font-size: 16px;
    color: #469165;
    font-weight: 600;
}
.solutions-content h2{
    font-size: 48px;
    color: #001931;
    font-weight: bold;
    text-transform: capitalize;
    margin: 16px 0;
}
.solutions-content p{
    font-size: 16px;
    color: #627382;
    font-weight: 400;
    margin-bottom: 40px;
    
}
.solutions-content ul{
   list-style-type: none;
}
.solutions-content ul li{
    line-height: 30px;
}
.solutions-content ul li i{
    color: #FFFFFF;
    background-color: #469165;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
/* Early Sections */

#early-access{
    text-align: center;
    margin-bottom: 120px;
}
.early-access-container{
    background-color: #F7F6F2;
    margin: 0 auto;
    width:85%;
    padding: 115.5px 120px 179.5px;
}
.early-access-container .heading-sub-heading{
    text-align: center;
}
.early-access-container .heading-sub-heading h2{
    
}
.early-access-container .heading-sub-heading p{
    
}
.ending-message{
    margin-top: 15px;
}
/* Footer Sections */
footer{
    background-color: #001931;
    padding: 115.5px 120px 20.5px;
}
.social P{
    color: #FFFFFF;
    margin-bottom: 20px;
}
.social ul{
    display: flex;
    align-items: center;
    gap: 10px;
    list-style-type: none;
}
.social ul li a{
    color: #FFFFFF; 
}
.social ul li a:hover{
    color: #469165; 
}
.copyright {
    border-top: 1px solid #ffffff24;
    margin-top: 50px;
}
.copyright p{
    color: #FAFAFA;
    text-align: center;
    padding-top: 20px;
    font-size: 16px;
    font-weight: 400;
}